[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = brasil.gov.barra
package-extras = [test]
eggs +=
    iw.debug

parts +=
    i18ndude
    omelette

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/brasil/gov/barra
pre-commit-hook = True
flake8-ignore = E501

[instance]
zcml += iw.debug

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
