[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = brasil.gov.barra
package-extras = [test]
package-min-coverage = 56

parts +=
    createcoverage
    coverage-sh

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/brasil/gov/barra
pre-commit-hook = False
flake8-ignore = E501

[versions]
# use latest version of setuptools
setuptools =
